@import url('https://fonts.googleapis.com/css2?family=Amiri:wght@700&family=Merriweather:ital,wght@1,700&display=swap');

body {
    width: 960px; 
    margin: auto;
    background-color: rgb(143, 245, 245);
    font-family: 'Merriweather', serif;
    }

a {
    text-decoration: none;
    padding: 10px;
text-transform: uppercase;
}

header{
    text-align: center;
}

.headerImg{
    width: 500px;
    display: block;
    margin:  auto;
}


footer {
    text-align: center;
    background-color: #212527 ;
color: rgb(255, 254, 254);
}

footer nav a {
    color: #fff;
}